In [4]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [5]:
URL = 'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv'
os.system(f'wget {URL}')

--2022-01-24 15:04:42--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 3.5.1.143, 2800:800:900:4::34d9:6c36
Connecting to s3.amazonaws.com (s3.amazonaws.com)|3.5.1.143|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

     0K .......... ..                                         100% 19,4K=0,6s

2022-01-24 15:04:52 (19,4 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

0

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [12]:
zones_df = pd.read_csv('taxi+_zone_lookup.csv')

In [15]:
zones_df.to_sql(con=engine, name = 'zones', if_exists='replace')